/*-------------------------------*/
/* General Page Styling          */
/*-------------------------------*/

hr {
    padding-bottom: 50px;
}

header, .grey-bg {
    background:#eef1f1;
}

section.very-light-blue {
  background:#f7f9f9;
}

#my-portrait {
  box-shadow: 1px 2px 2px rgba(0,0,0,0.7);
}

.jumbotron h4:nth-child(2), .jumbotron h4:nth-child(3) {
  font-size: 1.3em;
}

.jumbotron h5 {
  font-style: italic;
}

.full-height, .full-height body, .full-height header, .full-height header .view {
    height: 95%;
}

.flex-center {
    color: #fff;
}
.intro-1 {
    background: url("img/bg.jpg")no-repeat center center;
    background-size: cover;
}

.jumbotron {
    padding: 60px;
}

.jumbotron.first {
    margin: -125px auto 30px;
}

.jumbotron.last {
    margin-bottom: 125px;
}

.no-margin {
    margin: 0;
}

.divider-new {
    padding-bottom: 50px;
}

#quote-block {
  background-color: #2c3e50;
}

.pt-8 {
  padding-top: 80px;
}

.pb-8 {
  padding-bottom: 80px;
}

.view.intro-1.hm-black-strong h1 {
  font-weight: 400;
}

.view.intro-1.hm-black-strong h5 {
  letter-spacing: 6px;
  font-weight: 100;
}


/*-------------------------------*/
/* Fancy Lines                   */
/*-------------------------------*/

.fancy-line-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fancy-line-two:before {
  margin: 0.9em 0.45em 0 0;
  background:#FFF;
  content:' ';
  height:1px;
  width:80px;
}

.fancy-line-two:after {
  margin: 0.9em 0 0 0.45em;
  background:#FFF;
  content:' ';
  height:1px;
  width:80px;
}

/*-------------------------------*/
/* Language Selection Panel      */
/*-------------------------------*/

#language-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
  width: 150px;
  height: 50px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  position: fixed;
  top: 150px;
  left: -90px;
  border-radius: 0 1em 1em 0;
  -webkit-transition: all 0.5s ease-in-out;
}

#language-select img, #language-select i {
  padding-left: 10px;
}

#language-select i {
  padding-right: 5px;
}

#language-select:hover {
  left: -5px;
}

.fa.fa-angle-left.fa-2x {
  display: none;
}

#language-select:hover .fa.fa-angle-right.fa-2x {
  display: none;
}

#language-select:hover .fa.fa-angle-left.fa-2x {
  display: flex;
}

/*-------------------------------*/
/* Buttons                       */
/*-------------------------------*/

.jumbotron.text-center.last .btn.btn-unique.btn-ptc {
  background:#0077B5;
}

.jumbotron.text-center.last .btn-unique.active, .btn-unique:active, .btn-unique:focus, .btn-unique:hover {
  background: #035681 !important;
}

.jumbotron.text-center.last .btn.btn-outline-unique {
  border: 2px solid #0077B5;
  color: #0077B5!important;
  background-color: transparent;
}

/*-------------------------------*/
/* Carousel                      */
/*-------------------------------*/

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 100px;
}
#fade-quote-carousel.carousel .carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

#fade-quote-carousel blockquote p {
  font-size: 1.2em;
}

.carousel-control-prev-icon {
  background-color: rgba(0,0,0,0.2);
}

.carousel-control-next-icon {
  background-color: rgba(0,0,0,0.2);

}

/*-------------------------------*/
/* Image Zoom Effects            */
/*-------------------------------*/

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
-ms-transform: scale(1.1);    
-moz-transform: scale(1.1);  
-webkit-transform: scale(1.1);  
-o-transform: scale(1.1);  
transform: scale(1.1);    
position:relative;      
z-index:999; 
}


#gallery {cursor: pointer}

/*-------------------------------*/
/* Interactive Map Styling       */
/*-------------------------------*/

.cssmap-pins li {
  list-style: none;
}

/*-------------------------------*/
/* Footer                        */
/*-------------------------------*/

footer.page-footer {
  background: #2c3e50;
}

.social-icons svg {
  margin: 10px;
}

#instagram path, #linkedin path, #email path {
  fill: #FFF;
}

#instagram:hover path {
    fill: #fb3958;
}

#linkedin:hover path {
    fill: #0077B5;
}

#email:hover path {
    fill: #2ecc71;
}

/*-------------------------------*/
/* Mobile Responsiveness         */
/*-------------------------------*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .jumbotron p {
      text-align: left;
  }
    .card-title.text-center {
      font-size: 10px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 500px) {
    .jumbotron {
    padding: 30px 20px 30px 20px;
  }
    .jumbotron p {
    padding-top: 20px;
    text-align: left;
  }
    .jumbotron h4:nth-child(1), .jumbotron h4:nth-child(2) {
    padding-top: 20px;
  }
    .card-title.text-center {
    font-size: initial;
    }
}

/* Custom, iPhone / Android & Big Phones in general */ 
@media only screen and (max-width : 384px) {
  .jumbotron {
    padding: 30px 10px 30px 10px;
  }

  .jumbotron.first {
    margin: -70px auto 30px;
  }

  .jumbotron p {
    padding-top: 20px;
    text-align: left;
  }
  .jumbotron h4:nth-child(1), .jumbotron h4:nth-child(2) {
    padding-top: 20px;
  }

  .view.intro-1.hm-black-strong ul li:nth-child(1) {
    padding-top: 30px;
  }

  .h5-responsive.font-bold.wow.fadeInDown.text-uppercase {
    font-size: 13px;
  }
  .card-title.text-center {
    font-size: initial;
    }
  #language-select {
    top: 70px;
  }
}

/*-------------------------------------*/
/* Cookie Consent - cookieconsent.com  */
/*-------------------------------------*/
.cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-banner .cc-btn:last-child{min-width:140px}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{-ms-flex:1;flex:1}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}